extends ./partials/nav 
block main  
    <main class="index">
        div.center
            <div class="masthead d-flex space-down">
                    <div class="container my-auto text-center">
                    <h1 class="mb-1 font-weight-bold">Contacts App</h1>
                    <h3 class="mb-3 font-italic">Store Your Contacts Now</h3>
                    <a href="/login" class="btn btn-primary start-button btn-dark">Get Started</a>
                    </div>
            </div>
    </main>